<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin</title>
<style type="text/css">
fieldset{
height:300px;
width:300px;
}
h1{
text-align: center;
}
</style>

</head>
<body bgcolor="#ffe4cd ">
<h1>Welcome To  Admin Page</h1>
<center>
<fieldset>


<br><br><br>
<a href="newSong">Add A New Song</a>
<br><br><br>
<a href="viewSongs">view all songs</a>
<br><br><br>
<a href="createPlayList"> Create PlayList </a>
<br><br><br>
<a href="viewPlayList"> view all PlayList </a>
</fieldset>
</center>
</body>
</html>