<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>DisplaySongs</title>
<style type="text/css">

table {

border-bottom-width: 3px;
border-top-width: 3px;
border-left-width: 3px;
border-right-width: 3px;
height: 400px;
width: 400px;
}
</style>
</head>
<body>
<table border>

<thead>
  <tr>
     <th>NAME</th>
     <th>ARTIST</th>
     <th>GENRE</th>
     <th>PLAY</th>
  </tr>
</thead>

<tbody>
  <tr th:each="song:${songs}">
     <td th:text="${song.name}"></td>
     <td th:text="${song.artist}"></td>
     <td th:text="${song.genre}"></td>
     <td>
     <audio controls>
          <source th:src="${song.link}" type="audio/mpeg">
     </audio>
     <td>
  </tr>
</tbod>
</table>

</body>
</html>