<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Index Page</title>
<style>
fieldset{
text-align:center;

height:400px;
width:400px;
background-color: white;
border-color: black;
border-left-width: 3px;
border-bottom-width: 3px;
border-right-width: 3px;
border-top-width: 3px;
}
h1{
text-align: center;
}

</style>

</head>
<body bgcolor="#ffff66">

<h1>WELCOME TO TUNEHUB  </h1>

<br><br>
<center>
<fieldset><br><br><br><br><br><br>
<b>
<a  href="login">LOGIN</a>
<br><br><br><br>

<a href="register">REGISTER</a>
</b>


</fieldset>

</center>
</body>
</html>