<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>

<style type="text/css">
fieldset{
height:400px;
width:400px;
background-color: #fffafa; 
}


input[type="submit"] {

background-color: green;
color: white;
height: 25px;
width: 60px;
border-bottom-width: 3px;
border-left-width: 3px;
border-right-width: 3px;
border-top-width: 3px;
border-color: black;


	
}


</style>

</head>
<body bgcolor="#fffacd ">
<center>
<br><br><br>
<fieldset>
<form action="validation" method="post">

   <center>
   <br><br><br>
   <label>EMail Id : </label><br><br>
   <input type="email" name="email" placeholder=" Enter email id" >
   <br><br><br>

   <label>PassWord : </label><br><br>
   <input type="password" name="password"  placeholder=" Enter password">
   <br><br>
   <br>

  <input type="submit" value="login"  />
  </center>
</form>
</center>
</fieldset>
</body>
</html>