<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Register Page</title>

<style>
fieldset{
height:500px;
width:400px;
}
h3{
text-align: centerl
}
</style>
</head>
<body bgcolor="#ffe4cd ">
<br><br><br>
<center>
<fieldset><b>
<form action="register" method="post">

<h3>Enter Your Details </h3>

<br><br><b>
   <label>UserName : </label>
   <input type="text" name="username" placeholder=" Enter username" >
   <br><br><br>
   
   <label>EMail Id : </label>
   <input type="email" name="email" placeholder=" Enter email id" >
   <br><br><br>

   <label>PassWord : </label>
   <input type="password" name="password"  placeholder=" Enter password">
   <br><br><br>
   
   <label>Gender :</label>
   
   <input  type="radio" name="gender" value="male" />Male
   <input  type="radio" name="gender" value="female" />FeMale
   <input  type="radio" name="gender" value="others" />Others
   <br><br><br>
   
   <label>Role :</label>
   
   <input type ="radio" name="role" value="admin">Admin
   <input type ="radio" name="role" value="customer">Customer
   <br><br><br>
   
   <label>Address :</label>
   <textarea name="address"></textarea>
   
   <br><br><br>
   <input type="submit" /></b>
</form>
</fieldset>
</b>
</center>
</body>
</html>